@import "variables";

* {
  box-sizing: border-box;
}

.container-wrap {
  max-width: 1170px !important;
  margin-left: auto!important;
  margin-right: auto!important;
  padding: 1em !important;
}

.home-background {
  //background-color: $very-dark-gray;
}

.font-one {
  color: $light-gray;
  font-family: $font-console-2;
  font-size: $hello-font-size;
  font-weight: 400;
  background-color: $very-dark-gray;
  letter-spacing: .15em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
}

.font-two {
  color: $light-gray;
  font-family: $font-console-2;
  font-size: $hello-font-size-2;
  margin: 0px!important;
  font-weight: 200;
  letter-spacing: .15em;
  background: $very-dark-gray;
  border-right: .15em solid orange;
  white-space: nowrap;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

.font-three {
  color: $very-dark-gray;
  font-family: $font-console-2;
  font-size: $hello-font-size-3;
  margin: 0px!important;
  font-weight: 200;
  letter-spacing: .15em;
  background: $very-dark-gray;
  white-space: nowrap;
  -webkit-background-clip: text;
  //-webkit-text-fill-color: transparent;
  opacity: 0;
  animation:
    shifting 5s normal forwards;
}

@keyframes shifting {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrapper {
  box-shadow: 0 0 1px 0 gray;
}

.wrapper > * {
  padding: 1em;
}
