$very-light-gray: #B7C5D3;
$light-gray: #718CA1;
$gray: #41505E;
$dark-gray: #333F4A;
$very-dark-gray: #1D252C;

$font-atom: Mononoki;
$font-console: Roboto Mono,Menlo,Monaco,Courier,monospace;
$font-console-2: monospace;

$hello-font-size: 3.2em;
$hello-font-size-2: 2em;
$hello-font-size-3: 1.3em;
$social-font-color: #443f3f;
